body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:119px;
  width:390px;
  height:601px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:601px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:830px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:830px;
}
#u4 {
  position:absolute;
  left:2px;
  top:407px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:21px;
  top:687px;
  width:385px;
  height:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:48px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:21px;
  top:93px;
  width:385px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33B5E5;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:26px;
}
#u8 {
  position:absolute;
  left:5px;
  top:5px;
  width:375px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:323px;
  top:95px;
  width:36px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:184px;
  top:247px;
  width:226px;
  height:53px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:53px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:184px;
  top:247px;
  width:226px;
  height:51px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:51px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:243px;
  top:614px;
  width:145px;
  height:67px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:67px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
